<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BP LOGIN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <style>
        body {
            max-width: 100%;
            box-sizing: border-box;
            background: url(/assets/bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #000;
            height: 100vh;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <form action="/" method="post">
        <h1>BLACK PANTHER</h1>
        <input type="password" placeholder="Password" name="p1" required>
        <input placeholder="Password" type="password" name="p2" required>
        <input type="submit">
    </form>
</body>

</html>